{{define "mkt_trade"}}
<tr class="mkt_trade">
	<td class="mkt_trade_field" title="{{.FillerAddr}}">
		<a href="/search?q={{.FillerAddr}}"><font color=white>{{.FillerAddrSh}}</font></a>
	</td>
	<td class="mkt_trade_field">{{.Direction}}</td>
	<td class="mkt_trade_field">{{.Date}}</td>
	<td class="mkt_trade_field" style="text-align: right">{{.Price}}</td>
	<td class="mkt_trade_field" style="text-align: right">{{.Amount}}</td>
	<td class="mkt_trade_field" style="text-align: center">{{.OutcomeStr}}</td>
</tr>
{{end}}
