<html>
<head>
	<title>{{.title}}</title>
	<link href="res/main.css" rel="stylesheet">
</head>
<body>
<h3 class="page_title">Statistics</h3>
<div class="statistics">
	<h4 style="font-color: red">(this data is fake, not DB generated)</h4>
	<table>
	<tr>
		<td>Markets to date:</td>
		<td>56,301</td>
	</tr>
	<tr>
		<td>Currently active:</td>
		<td>451</td>
	</tr>
	<tr>
		<td>Finalized markets:</td>
		<td>55,982</td>
	</tr>
	<tr>
		<td>Money currently at stake:</td>
		<td>$5,290,957 ETH</td>
	</tr>
	<tr>
		<td>Number of total trades made:</td>
		<td>192,412</td>
	</tr>
	<tr>
		<td>Average profit per trade:</td>
		<td>2.3 ETH</td>
	</tr>
	<tr>
		<td>Average loss per trade:</td>
		<td>4 ETH</td>
	</tr>
	<tr>
		<td>Invalid markets</td>
		<td>405</td>
	</tr>
	<tr>
		<td>Yes/No markets</td>
		<td>30,201</td>
	</tr>
	<tr>
		<td>Categorical markets:</td>
		<td>10,567</td>
	</tr>
	<tr>
		<td>Scalar markets:</td>
		<td>6,451</td>
	</tr>
	<tr>
		<td>Designated report failures:</td>
		<td>721</td>
	</tr>
	<tr>
		<td>Average Dispute rounds:</td>
		<td>2.3</td>
	</tr>
	</table>
</div>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
</body>
</html>
