<html>
<head>
	<title>{{.title}}</title>
	<link href="res/main.css" rel="stylesheet">
</head>
<body>
<script src="/res/darktheme.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script>
	function load_pl_data(profit_loss,accum_pl,mkt_addr,date_str,outcome,mkt_descr) {
		var elt
		elt = document.getElementById("order_info")
		elt.style.display="block"
		elt = document.getElementById("f2_fld_profit_loss")
		elt.innerHTML =profit_loss
		elt = document.getElementById("f2_fld_accum_pl")
		elt.innerHTML = accum_pl
		elt = document.getElementById("f2_fld_mkt_addr")
		elt.innerHTML = mkt_addr
		elt = document.getElementById("f2_fld_outcome")
		elt.innerHTML = outcome
		elt = document.getElementById("f2_fld_mkt_descr")
		elt.innerHTML = mkt_descr
		elt = document.getElementById("f2_fld_date")
		elt.innerHTML = date_str
	}
	function load_open_pos_data(frozen,max_profit,risk_reward,mkt_addr,outcome,
				mkt_descr,date_str,counterparty,order_hash) {
		var elt
		elt = document.getElementById("open_pos_info")
		elt.style.display="block"
		elt = document.getElementById("f1_fld_funds_frozen")
		elt.innerHTML = frozen
		elt = document.getElementById("f1_fld_max_profit")
		elt.innerHTML = max_profit 
		elt = document.getElementById("f1_fld_risk_reward")
		elt.innerHTML = reisk_reward
		elt = document.getElementById("f1_fld_mkt_addr")
		elt.innerHTML = mkt_addr
		elt = document.getElementById("f1_fld_outcome")
		elt.innerHTML = outcome
		elt = document.getElementById("f1_fld_mkt_descr")
		elt.innerHTML = mkt_descr
		elt = document.getElementById("f1_fld_date")
		elt.innerHTML = date_str
		elt = document.getElementById("f1_fld_counterparty")
		elt.innerHTML = counterparty
		elt = document.getElementById("f1_fld_order_hash")
		elt.innerHTML = counterparty
	}
	var open_positions_data = {{.JSOpenPosData}}
	var profit_loss_data = {{.JSPLData}}
</script>
	<h3 class="page_title">User Info for {{.UserInfo.EOAAddrSh}}</h3>
<div class="user_info">
	<table class="user_info">
		<tr>
			<td>Profit/Loss</td>
			<td title="{{.UserInfo.EOAAddr}}">{{.UserInfo.EOAAddrSh}}</td>
		</tr>
		<tr>
			<td>Wallet Contract Address</td>
			<td title="{{.UserInfo.WalletAddr}}">{{.UserInfo.WalletAddrSh}}</td>
		</tr>
		<tr>
			<td>Total Trades</td>
			<td>{{.UserInfo.TotalTrades}}</td>
		</tr>
		<tr>
			<td>Markets Created</td>
			<td>{{.UserInfo.MarketsCreated}}</td>
		</tr>
		<tr>
			<td>Markets Traded</td>
			<td>{{.UserInfo.MarketsTraded}}</td>
		</tr>
		<tr>
			<td>Withdrawal Requests</td>
			<td>{{.UserInfo.WithdrawReqs}}</td>
		</tr>
		<tr>
			<td>Deposit Requests</td>
			<td>{{.UserInfo.DepositReqs}}</td>
		</tr>
		<tr>
			<td>Total Reports</td>
			<td>{{.UserInfo.TotalReports}}</td>
		</tr>
		<tr>
			<td>Total Reports as Designated Reporter</td>
			<td>{{.UserInfo.TotalDesignated}}</td>
		</tr>
		<tr>
			<td>Profit/Loss</td>
			<td>{{.UserInfo.ProfitLoss}}</td>
		</tr>
		<tr>
			<td>Profit in Affiliate Commissions</td>
			<td>{{.UserInfo.AffProfits}}</td>
		</tr>
		<tr>
			<td>Money At Stake</td>
			<td>{{.UserInfo.MoneyAtStake}}</td>
		</tr>
		<tr>
			<td>Total Deposited</td>
			<td>{{.UserInfo.TotalDeposited}}</td>
		</tr>
		<tr>
			<td>Total Withdrawn</td>
			<td>{{.UserInfo.TotalWithdrawn}}</td>
		</tr>
	</table>
	<br/>
</div>
<span class="user_info_generic">Account's Open Positions:</span><br/><br/>
<div id="open_positions_chart"></div>
<div id="open_pos_info" class="user_info_generic" style="display: none;">
	Open Position Info:
	<table>
		<tr>
			<td>Funds Frozen</td>
			<td><span id="f1_fld_funds_frozen"></span></td>
		</tr>
		<tr>
			<td>Max. profit</td>
			<td><span id="f1_fld_max_profit"></span></td>
		</tr>
		<tr>
			<td>Risk/Reward ratio</td>
			<td><span id="f1_fld_risk_reward"></span></td>
		</tr>
		<tr>
			<td>Market Address</td>
			<td><span id="f1_fld_mkt_addr"></span></td>
		</tr>
		<tr>
			<td>Outcome</td>
			<td><span id="f1_fld_outcome"></span></td>
		</tr>
		<tr>
			<td>Market Description</td>
			<td><span id="f1_fld_mkt_descr"></span></td>
		</tr>
		<tr>
			<td>Date:</td>
			<td><span id="f1_fld_date"></span></td>
		</tr>
		<tr>
			<td>Counterparty</td>
			<td><a href=""><span id="f1_fld_counterparty"></span></td>
		</tr>
		<tr>
			<td>Order Hash</td>
			<td><a href=""><span id="f1_fld_order_hash"></span></td>
		</tr>
	</table>
</div>
<br/><br/>
<div class="user_info_generic">User Profit/Loss history:</span><br/><br/>
<div id="profit_loss_chart"></div>
<div id="order_info" style="display: none;">
	Order details:
	<table>
		<tr>
			<td>Profit/Loss in this trade</td>
			<td><span id="f2_fld_profit_loss"></span></td>
		</tr>
		<tr>
			<td>Accumulated Profit/Loss</td>
			<td><span id="f2_fld_accum_pl"></span></td>
		</tr>
		<tr>
			<td>Market Address</td>
			<td><span id="f2_fld_mkt_addr"></span></td>
		</tr>
		<tr>
			<td>Outcome</td>
			<td><span id="f2_fld_outcome"></span></td>
		</tr>
		<tr>
			<td>Market Description</td>
			<td><span id="f2_fld_mkt_descr"></span></td>
		</tr>
		<tr>
			<td>Date:</td>
			<td><span id="f2_fld_date"></span></td>
		</tr>
		<tr>
			<td>Counterparty</td>
			<td><a href=""><span id="f2_fld_counterparty"></span></td>
		</tr>
		<tr>
			<td>Order hash</td>
			<td><a href=""><span id="f2_fld_order_hash"></span></td>
		</tr>
	</table>
</div>
<script>
// font loading begins
	Highcharts.createElement('link', {
  href: 'https://fonts.googleapis.com/css?family=Unica+One',
  rel: 'stylesheet',
  type: 'text/css'
}, null, document.getElementsByTagName('head')[0]);
// font loading ends
// Apply the theme
set_dark_theme()

// begin of chart container setup
Highcharts.chart('profit_loss_chart', {

	title: {
		text: 'Profit/Loss History'
	},

	subtitle: {
		text: 'Profit/Loss History Detail'
	},

	yAxis: {
		title: {
			text: 'Profit/Loss'
		}
	},

	xAxis: {
//		max: 1.0,
//		min: 0,
		accessibility: {
			rangeDescription: 'Profit/Loss for the period'
		}
	},

	legend: {
		layout: 'vertical',
		align: 'right',
		verticalAlign: 'middle'
	},

	plotOptions: {
		series: {
			label: {
				connectorAllowed: false
			},
			pointStart: 0
		}
	},

	series: [{
		name: 'Profit/Loss',
		point: {
			events: {
				click: function() {this.click.call()}
			}
		},
		data: profit_loss_data
	}],

	responsive: {
		rules: [{
			condition: {
				maxWidth: 500
			},
			chartOptions: {
				legend: {
				layout: 'horizontal',
					align: 'center',
					verticalAlign: 'bottom'
				}
			}
		}]
	},
	tooltip: {
		formatter: function() {
			tooltip ="<div>Profit/Loss: "+this.point.pl+ "<br/>Date: "+this.point.date+"</div>"
			 return tooltip;
		}
	},
});
Highcharts.chart('open_positions_chart', {

	title: {
		text: 'Open Positions'
	},

	subtitle: {
		text: 'Open Positions Detail'
	},

	yAxis: {
		title: {
			text: 'Frozen Funds'
		}
	},

	xAxis: {
//		max: 1.0,
//		min: 0,
		accessibility: {
			rangeDescription: 'Frozen funds for the period'
		}
	},

	legend: {
		layout: 'vertical',
		align: 'right',
		verticalAlign: 'middle'
	},

	plotOptions: {
		series: {
			label: {
				connectorAllowed: false
			},
			pointStart: 0
		}
	},

	series: [{
		name: 'Frozen Funds',
		point: {
			events: {
				click: function() {this.click.call()}
			}
		},
		data: open_positions_data
	}],

	responsive: {
		rules: [{
			condition: {
				maxWidth: 500
			},
			chartOptions: {
				legend: {
				layout: 'horizontal',
					align: 'center',
					verticalAlign: 'bottom'
				}
			}
		}]
	},
	tooltip: {
		formatter: function() {
			tooltip ="<div>Frozen Funds: "+this.point.pl+ "<br/>Date: "+this.point.date+"</div>"
			 return tooltip;
		}
	},
});
</script>
<nav>
	<ul>
	<li>
		<a class="btn_link" href="/index.html">Back</a>
		<span></span><span></span><span></span><span></span>
	</li>
</ul>
</nav>
</body>
</html>
